<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/header') %>

<main>
    <section class="py-5 container">
        <div class="row">
            <div class="d-flex justify-content-between">
                <h1>Daftar Asset <%= family.name %></h1>
                <div>
                    <a href="/assets/create?family_id=<%= family.id %>" class="btn btn-primary">Tambah Asset</a>
                </div>
            </div>
            <table class="table" id="table">
                <thead class="table-dark">
                <tr>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </section>
</main>
<%- include('../partials/javascript') %>
<script>
  $(document).ready(function() {
    load();
  });

  function load() {
    $.ajax({
      url: "/api/assets?family_id=<%= family.id %>"
    }).done(function(data, textStatus, jqXHR) {
      let tbody = "";
      let totalPrice = 0;
      data.data.forEach(datum => {
        totalPrice += datum.price;
        tbody += `<tr>
                <td>${datum.name}</td>
                <td>${datum.price}</td>
                <td>
                  <a href="/assets/${datum.id}/edit" class="btn btn-info">Edit</a>
                  <button type="button" onclick="destroy(${datum.id})" class="btn btn-danger">Hapus</button>
                </td>
                </tr>`;
      });

      $("#table tbody").html(tbody);
      $("#table tfoot").html(`<tr><td>Total Nilai Asset</td><td colspan="2">${totalPrice}</td></tr>`);
    }).fail(function(jqXHR, textStatus, errorThrown) {
      if (jqXHR.status === 404) {
        $("#table tfoot").html(``);
        return $("#table tbody").html(`<tr>
          <td class="text-center" colspan="3"> Data tidak ditemukan</td>
        </tr>`);
      }
    });
  }

  function destroy(assetId){
    if (confirm('Apakah anda yakin?')) {
      $.ajax({
        url: `/api/assets/${assetId}`,
        method: 'DELETE'
      }).done(function(data, textStatus, jqXHR) {
        load()
      }).fail(function(jqXHR, textStatus, errorThrown) {
        alert('Terjadi keslaahan saat menghapus data')
      });
    }
  }
</script>
</body>
</html>
